body{
  margin: 0;
}

.table{
 background-color: dimgrey;
 text-align: center;
border-spacing: initial;
color: white;
width: 100%;
}

tr:nth-child(odd) {
  background-color: black;
}

tr{
  height: 30px;
}

.th{
  text-align: center;
  color: gold;
  padding: 15px 10px 15px 10px;
  background-color: gray;
  font-size: larger;
}

.flight-cell {
  color: greenyellow;
  font-weight: 700;
  
}

.destination-cell {
  text-align: start;
  padding-left: 25px;
  font-weight: 600;
}

.remark-cell {
  text-align: start;
  padding-left: 50px;
}

.remark-red{
  color: red;
}

.remark-yellow{
  color: yellow;
}

.remark-green{
  color: greenyellow;
}